@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x0d5dp');
  src:  url('../fonts/icomoon.eot?x0d5dp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x0d5dp') format('truetype'),
    url('../fonts/icomoon.woff?x0d5dp') format('woff'),
    url('../fonts/icomoon.svg?x0d5dp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-projects:before {
  content: "\e906";
}
