@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url("font-awesome.min.css");
@import url("icons.css");
@import url("animate.css");
@import url("component.css");

@font-face {
    font-family: 'product_sansbold';
    src: url('../fonts/productsans-bold.woff2') format('woff2'),
         url('../fonts/productsans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansbold_italic';
    src: url('../fonts/productsans-bolditalic.woff2') format('woff2'),
         url('../fonts/productsans-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansitalic';
    src: url('../fonts/productsans-italic.woff2') format('woff2'),
         url('../fonts/productsans-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansregular';
    src: url('../fonts/productsans-regular.woff2') format('woff2'),
         url('../fonts/productsans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body{
font-family: 'product_sansregular';
font-size:14px;
color: #000000;
line-height:1.4;
}

h1, h2, h3, h4, h5, h6{
	line-height:1.2;
	margin:0;
	padding:0;
	}

button, a{
color: #000;
text-decoration:none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a:hover{
color: #0266b4;
text-decoration:none;
}

.btn:focus {
  outline: none;
  box-shadow:none;
}

img{
max-width:100%;
display:block;
}

p{
	margin:0 0 15px 0;
	}
	
p:last-child{
	margin:0;
	}

button{
	cursor:pointer;
	}

button:focus {
  outline: none;
  box-shadow:none;
}

.modal-backdrop.show {
  opacity: .8;
}

.modal-header{
	background:#000;
	color:#fff;
	border:0;
	border-radius:0;
	padding:8px 20px;
	}
	
	.modal-header h3{
	font-size:14px;
	color:#fff;
	}

.close {
    color: #fff;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  color: #fff;
}


.form-control:focus {
    box-shadow:none;
    }
	


:focus {
	outline:none;
}


.form-control-file, .form-control-range{
	font-size:14px;
	}




.breadcrumb-sec{
	position: relative;
}

.breadcrumb{
	font-size:12px;
	padding:5px 0;
	background:none;
	margin:0;
	}

.breadcrumb-item a{
	color:#888888;
	}
	.breadcrumb-item a:hover{
	color:#00549c;
	}
	
.breadcrumb-item.active{
	color:#a7a6a6;
	}
	

ol,
ul {
    list-style: none;
}





/*header nav styles*/


header {
position: fixed;
width: 100%; 
top: 0;
right: 0;
left: 0;
z-index: 1030;
	transition: .6s all;
	-moz-transition: .6s all;
	-webkit-transition: .6s all;
	-o-transition: .6s all;
}

 
header.sticky{
padding:0;
}


header.sticky .main-header{
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
}




.hdr-nav .navbar-brand img{
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	-webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	-moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	-o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	-ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; 
	}



.top-line{
	color:#333;
	font-size:13px;
	position: absolute;
	right: 0;
	top:12px;
	z-index:1;
	display:none;
	}

	.top-line a{
	color:#333;
	}
	
	.top-line a:hover{
	color:#000;
	}

	
.top-line .top-right{
	position:relative;
	
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important;
-webkit-box-pack: end !important;
-ms-flex-pack: end !important;
justify-content: flex-end !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}


.top-line .top-contact{
	position: relative;
	margin:0 0 0 20px;
	}


	





.main-header{
	position:relative;
	background:#ffffff;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
	}
	
	

	
.brand-wrapper{
	position:relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	}
	


/*nav styles*/


.navbar-nav.bg {
    background: #444;
    padding: 15px 0;
}

.hdr-nav {
  padding: 0; }
  
  .hdr-nav .navbar-brand{
    padding: 10px 0;
	}
	
header.sticky .hdr-nav .navbar-brand{
    padding: 10px 0;
	}
	
	
.navbar-brand img{
	max-width:220px;
	}
	
header.sticky .hdr-nav .navbar-brand img{
    max-width:200px;
	}
	
  		
  .hdr-nav .navbar-nav .nav-item {
    margin:0;
	}
    .hdr-nav .navbar-nav .nav-item .nav-link {
	position:relative;
	font-size:14px;
	padding:10px 20px;
	color: #dedede;	
	}
	

	  
    .hdr-nav .navbar-nav .nav-item:hover .nav-link{
      color: #fff;
	  }
	  
.hdr-nav .navbar-nav .nav-item.active .nav-link {
      color: #fff;
	  }
	  
	.hdr-nav .navbar-nav .nav-item.active .nav-link::after {
	}
	 
    .hdr-nav .navbar-nav .nav-item:first-child {
      margin-left: 0px; }


    .hdr-nav .navbar-nav .nav-item:last-child {
      margin-right: 0px; }


.navbar-light .navbar-toggler {
    color: #fff;
    border: 0;
	background:#666;
	}

.navbar-toggler {
    border-radius: 0;
    padding: 3px 6px;
    font-size: 1em;
	width:33px;
	height:27px;
}

.navbar-light .navbar-toggler-icon {
    background: url(../images/menu-icon.png) center center no-repeat;
}

.navbar-light .navbar-toggler>.close {
    display:inline;
	padding: 8px 11px 8px 11px;
	opacity:1;
	background: url(../images/menu-close-icon.png) center center no-repeat;
}
.navbar-light .navbar-toggler.collapsed>.close, .navbar-light .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}






/*************/
/* Dropdown*/
/*************/
.navbar-nav .dropdown-toggle::after {
  display: none; }

.navbar-nav .dropdown-menu.b-none {
 	border:0;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1); }



.navbar-toggler{
	border:0;
	}

/*******************
Overlay headers and thrid dropdown
******************/
.dropdown-menu li{
	border-bottom:0;
	}
	.dropdown-menu li:last-child{
	border-bottom:0;
	}


.dropdown-menu{
	border-radius:0;
	padding:0;
	background:#333;
	}

.dropdown-item {
	padding:6px 20px;
	font-size:14px;
	color:#dedede;
	}
	 
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #000;
}  



.dropdown-submenu {
  position: relative; }
  .dropdown-submenu .dropdown-item > .ml-auto {
    position: absolute;
    right: 15px;
    top: 10px; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none; }
  .dropdown-submenu > .dropdown-menu.menu-right {
    left: auto;
    right: 100%; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -75%; }

.dropdown-menu .divider {
  background-color: rgba(120, 130, 140, 0.13);
  height: 1px;
  margin: 9px 0;
  overflow: hidden; 
  }



@media (min-width: 768px){




}



@media (min-width: 992px){

header.sticky .hdr-nav .navbar-brand img{
    max-width:300px;
	}
	
header.sticky .hdr-nav .navbar-brand{
    padding: 18px 0;
	}
	
	
  .hdr-nav .navbar-brand{
    padding: 20px 0;
	}
	
	
.navbar-brand img{
	max-width:100%;
	}
	
.navbar-nav.bg {
    background: none;
    padding: 0;
	margin:30px 0 0 0;
}
	

.hdr-nav .navbar-nav .nav-item .nav-link {
	font-family: 'product_sansbold';
	  font-size:18px;
	  color: #333333;
	  padding:0;
	  }
	  
.hdr-nav .navbar-nav .nav-item:hover .nav-link{
      color: #0266b4;
	  }
	  
.hdr-nav .navbar-nav .nav-item.active .nav-link {
      color: #0266b4;
	  }
	  
.hdr-nav .navbar-nav .nav-item.active .nav-link::after {

	}
	
	
  .hdr-nav .navbar-nav .nav-item {
    margin: 0 20px;
	}




.navbar-nav .dropdown-menu.b-none{
webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	}
	
.dropdown-menu{
	background:#fff;
	}	

	
.dropdown-item {
	font-family: 'product_sansbold';
	font-size:16px;
	padding:10px 20px;
	color:#333;
	}
	 
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #01325c;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #01325c;
} 
	

 
  .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0px; }

  .navbar-nav > .dropdown .dropdown-menu {
    min-width: 200px;
    margin-top: 0px; }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block; }


 }	
 	


.mob-box{
	display:block;
	position:relative;
	background:#444;
	color:#dedede;
	padding:0 20px 15px;
	}
	
	.mob-box a{
	color:#dedede;
	}
	
.mob-box .top-contact{
	position: relative;
	padding:8px 0;
	border-top:1px solid #717171;
	display: -webkit-box ;
  display: -ms-flexbox ;
  display: flex ;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	}
	



@media (min-width: 992px){

.mob-box{
	display:none;
}

}	






/*button styles*/	

.btn-more{
	font-family: 'product_sansbold';
	position:relative;
	background:#0266b4;
	border:2px solid #0266b4;
	color:#ffffff ;
	font-size:14px;
	border-radius:5px;
	padding:5px 15px;
	margin:0;
	}
	
	.btn-more:hover{
	background:#fff;
	border:2px solid #0266b4;
	color:#0266b4;
	}
	
	
.btn-more.light{
	background:#0ba1af;
	border:2px solid #0ba1af;
	color:#ffffff;
	}
	
	.btn-more.light:hover{
	background:none;
	border:2px solid #0ba1af;
	color:#fff;
	}



/*hm-services-sec styles*/	

.hm-services-sec{
	position:relative;
	text-align:center;
	padding:30px 0 10px 0;
	margin:52px 0 0 0;	
	}
	
	

	
.hm-services-sec h1{
	font-size:28px;
	line-height:1;
	margin:0 0 20px 0;
	}
	
	.hm-services-sec h1 span{
	font-family: 'product_sansbold';
	}
	
.hm-services-sec .service-box{
	position:relative;
	margin:0 0 40px 0;
	}
	
.hm-services-sec .service-box .icon{
	margin:0 0 15px 0;
	}
	
	.hm-services-sec .service-box .icon img{
		display:inline-block;
	}
	
	
.hm-services-sec .hi-icon {
	font-size: 0px;
	cursor: pointer;	
	margin:auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	background:#e6eaef;
	color: #5d5f6d !important;
	
  display: -webkit-box ;
  display: -ms-flexbox ;
  display: flex ;
  
  -webkit-box-align: center ;
  -ms-flex-align: center ;
  align-items: center ;
  
  -webkit-box-pack: center ;
  -ms-flex-pack: center ;
  justify-content: center ;
	
}

.hm-services-sec .hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 70px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}


.hm-services-sec .service-box:hover .hi-icon-effect-5 .hi-icon 

{
	background: rgba(2,102,180,1);
	color: #fff !important;
	box-shadow: 0 0 0 8px rgba(120,180,230,.75);
}

.hm-services-sec .service-box:hover .hi-icon-effect-5c .hi-icon:before {
	-webkit-animation: toTopFromBottom 0.3s forwards;
	-moz-animation: toTopFromBottom 0.3s forwards;
	animation: toTopFromBottom 0.3s forwards;
}
	
	
.hm-services-sec .service-box h2{
	font-family: 'product_sansbold';
	color:#0266b4;
	font-size:22px;
	margin:0 0 5px 0;
	}
	

	
.hm-services-sec .service-box .txt{
	font-size:14px;
	margin:0 0 10px 0;
	padding:0 30px;
	}
	



.hm-services-sec .service-box .icon svg {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 150px;
}


.hm-services-sec .service-box .icon svg circle{
  transition: fill 0.5s ease;
  fill: #e6eaef;
}

.hm-services-sec .service-box:hover .icon svg circle{
  fill: #0266b4;
}

.hm-services-sec .service-box .icon svg circle.st0{fill:#C2C0C0;}


.hm-services-sec .service-box .icon svg path{
  transition: fill 0.5s ease;
  fill: #555555;
}

.hm-services-sec .service-box:hover .icon svg path{
  fill: #fff;
}


	.st0{fill:#C2C0C0;}
	.st1{fill:#E6EAEF;}
	.st2{clip-path:url(#SVGID_2_);fill:#5D606E;}




/*hm-prof-serv-sec styles*/	

.hm-prof-serv-sec{
	position:relative;
	padding:0 0 30px 0;	
	}
	
.hm-prof-serv-sec h4{
	font-family: 'product_sansbold';
	position:relative;
	font-size:18px;
	text-align:center;
	margin:0 0 15px 0;	
	}
	
	
.hm-prof-serv-sec .image-box{
	position:relative;
	overflow:hidden;
	display:inline-block;
	}
	
.hm-prof-serv-sec .image-box img{
	position:relative;
  -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
	transform: scale(1);
    transition: all 1.8s ease;
    -moz-transition: all 1.8s ease;
    -webkit-transition: all 1.8s ease;
    -ms-transition: all 1.8s ease;
    -o-transition: all 1.8s ease;
	}
	
.hm-prof-serv-sec .image-box:hover img{
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
	transform: scale(1.1);
	}
	
	.hm-prof-serv-sec .image-box h5{
	position: absolute;
	left:0px;
	bottom:0px;
	font-size:15px;
	color:#ffffff;
	padding:0 10px 10px 10px;
	}		
	

.owl-carousel .item{
	overflow:hidden;
	}	

	
.owl-carousel .item img{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
	}
	
.owl-carousel .item img:hover {
	opacity: 1;
	}

.hm-prof-serv-sec .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:30px;
	}

.hm-prof-serv-sec .owl-theme .owl-dots .owl-dot span{
	margin:5px;
	background:#b4b4b4;
	width:10px;
	height:10px;
	}
	
.hm-prof-serv-sec .owl-theme .owl-dots .owl-dot.active span,
.hm-prof-serv-sec .owl-theme .owl-dots .owl-dot:hover span {
    background: none repeat scroll 0 0 #888888;
	}
	
.hm-prof-serv-sec .owl-carousel .owl-item img{
	object-fit: cover;
	max-width: 234px;
    max-height: 280px;
	}

.hm-prof-serv-sec .owl-theme .owl-nav{
	position:absolute;
	top:42%;
	right:0;
	left: 0;
	margin-top:0;
	}


.hm-prof-serv-sec .owl-prev,
.hm-prof-serv-sec .owl-next {
	position: absolute;
	background:none;
	border: none;
	z-index: 100;
	width: 26px;
    height: 26px;
	
}

.hm-prof-serv-sec .owl-prev {
	 left: -13px;;
}

.hm-prof-serv-sec .owl-next {
	 right: -13px;
}
	
.hm-prof-serv-sec .owl-theme .owl-nav [class*='owl-'] {
    font-size: 14px;
    margin:0 10px 0 0;
    padding:7px 9px;
    background: #dadbdc;
	color: #333;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
	}
	
	.hm-prof-serv-sec .owl-theme .owl-nav [class*='owl-']:last-child {
		margin:0;
	}
	
.hm-prof-serv-sec .owl-theme .owl-nav [class*='owl-']:hover {
	background: #dadbdc;
	color: #333;
	text-decoration: none;
	}
	
	

/*hm-process-sec styles*/	

.hm-process-sec{
	position:relative;
	text-align:center;
	background:#005baa;
	color:#ffffff;
	padding:40px 0 30px;
	}
	
	
.hm-process-sec h2{
	font-size:24px;
	margin:0 0 20px 0;
	}
	
	
.hm-process-sec .video{
	position:relative;
	margin:0;
	padding:0 10px;
	}
	
.hm-process-sec .process-row{
	position:relative;
	margin:0 0 30px 0;
	}
	
	
.hm-process-sec .process-box{
	position:relative;
	margin:0 0 30px 0;
	z-index:1;
	}
	
.hm-process-sec .process-box .number{
	width:24px;
	height:24px;
	background:#005baa;
	border:2px solid #ffffff;
	border-radius:50%;
	font-size:14px;
	margin:auto;
	margin-bottom:10px;
	}

	
.hm-process-sec .process-box .title{
	font-family: 'product_sansbold';
	font-size:15px;	
	margin:0 0 10px 0;
	}	
	
.hm-process-sec .process-box .desc{
	font-size:14px;	
	}
	
.hm-process-sec .process-box .arrow{
	display:none;
    width: 175px;
    height: 17px;
    position: absolute;
    left: 130px;
    top: 8px;
	z-index:-1;
}

.hm-process-sec .process-box .arrow img{
	display:inline-block;
	}




/*hm-sectorlist-sec styles*/	

.hm-sectorlist-sec{
	position:relative;
	padding:30px 0;
	}
	
.hm-sectorlist-sec .row {
  margin-right: -10px;
  margin-left: -10px;
  }

.hm-sectorlist-sec .row > .col,
.hm-sectorlist-sec .row > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
  }
	
.hm-sectorlist-sec h3{
	position:relative;
	font-size:20px;
	text-align:center;
	margin:0 0 30px 0;
	}
	.hm-sectorlist-sec h3 span{
	font-size:24px;
	}		


.hm-sectorlist-sec .sector-item{
	position:relative;
	margin:0 0 25px 0;
	cursor: pointer;
}

.hm-sectorlist-sec .sector-item h4{
	font-family: 'product_sansbold';
	font-size:18px;
	margin:0 0 10px 0;
}

.hm-sectorlist-sec .sector-item .item-image{
	position: relative;
}

	.hm-sectorlist-sec .sector-item .item-image img{
		width:100%;
		display:inline-block;
	}





.btn-gallery{
	position:relative;
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
	padding:0;
	margin:auto;
}

.btn-gallery:before,
.btn-gallery:after {
    content: '';
    border-top: 2px solid #5c5d5e;
    margin: 0 30px 0 0;
    flex: 1 0 30px;
}

.btn-gallery:after {
    margin: 0 0 0 30px;
}

.btn-gallery a{
	display:inline-block;
	background:#0266b4;
	border:2px solid #0266b4;
	color:#fff;
	padding:5px 15px;
	font-size:14px;
	border-radius:5px;
	text-align:center;	
	font-family: 'product_sansbold';
	}
	.btn-gallery a:hover{
	background:#fff;
	border:2px solid #0266b4;
	color:#0266b4;
	}




/*hm-testimonials-sec styles*/	

.hm-testimonials-sec{
	position:relative;
	padding:40px 0;
	background:#e5e5e5;
	}
		
.hm-testimonials-sec h3 {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px 0;
}


.testimonial-box{
	position:relative;
	max-width:95%;
	margin:auto;
	
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
	}
	
.testimonial-box .testimonial{
	position:relative;
	background:#fff;
	padding:30px 0;
	}

	

.testimonial-box .testimonial .desc-box{
	position:relative;
	padding:0 40px;	
	}

.testimonial-box .testimonial .icon-quote-one{
	position:absolute;
	left:0;
	top:-10px;
}


.testimonial-box .testimonial .icon-quote-two{
	position:absolute;
	right:0;
	bottom:-10px;
}

.testimonial-box .testimonial .icon-quote-one img,
.testimonial-box .testimonial .icon-quote-two{
	display:inline-block;
	max-width:30px;
}


.testimonial-box .testimonial .desc{
	font-size:14px;
	padding:20px 0 15px 0;
	}



.testimonial-box .testimonial-by{
	position: relative;	
	}

.testimonial-box .testimonial .txt-box{
	position:relative;
	margin:0 0 10px 0;
	}
			
.testimonial-box .testimonial .name{
	 font-family: 'product_sansbold';
	 font-size: 14px;
	 margin:10px 0 0 0;
	}
	
.testimonial-box .testimonial .sub-title{
	font-size:13px;
	}
	
.testimonial-box .testimonial .image{
	position:relative;
	}
	.testimonial-box .testimonial .image img{
		display:inline-block;
		width:120px;
		height:180px;
	}





.testimonial-box .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:30px;
	}

.testimonial-box .owl-theme .owl-dots .owl-dot span{
	margin:5px;
	background:#b4b4b4;
	width:10px;
	height:10px;
	}
	
.testimonial-box .owl-theme .owl-dots .owl-dot.active span,
.testimonial-box .owl-theme .owl-dots .owl-dot:hover span {
    background: none repeat scroll 0 0 #888888;
	}
	


.testimonial-box .owl-theme .owl-nav{
	position:absolute;
	top:42%;
	right:0;
	left: 0;
	margin-top:0;
	}


.testimonial-box .owl-prev,
.testimonial-box .owl-next {
	position: absolute;
	background:none;
	border: none;
	z-index: 100;
	width: 30px;
    height: 30px;
	
}

.testimonial-box .owl-prev {
	 left: -15px;;
}

.testimonial-box .owl-next {
	 right: -15px;
}
	
.testimonial-box .owl-theme .owl-nav [class*='owl-'] {
    font-size: 14px;
    margin:0 10px 0 0;
    padding:8px 10px;
    background: #dadbdc;
	color: #333;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
	}
	
	.testimonial-box .owl-theme .owl-nav [class*='owl-']:last-child {
		margin:0;
	}
	
.testimonial-box .owl-theme .owl-nav [class*='owl-']:hover {
	background: #dadbdc;
	color: #333;
	text-decoration: none;
	}





	

/*hm-clients-sec styles*/	

.hm-clients-sec{
	position:relative;
	padding:30px 0 10px;
	text-align:center;
	}
	
	
.hm-clients-sec .client-item{
	position:relative;
	}
.hm-clients-sec .owl-carousel .owl-item img{
max-width:240px;
max-height:80px;
}	

	
.hm-clients-sec .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:20px;
	}

.hm-clients-sec .owl-theme .owl-dots .owl-dot span{
	margin:5px;
	background:#b4b4b4;
	width:10px;
	height:10px;
	}
	
.hm-clients-sec .owl-theme .owl-dots .owl-dot.active span,
.hm-clients-sec .owl-theme .owl-dots .owl-dot:hover span {
    background: none repeat scroll 0 0 #888888;
	}
	


.hm-clients-sec .owl-theme .owl-nav{
	position:absolute;
	top:12%;
	right:0;
	left: 0;
	margin-top:0;
	}


.hm-clients-sec .owl-prev,
.hm-clients-sec .owl-next {
	position: absolute;
	background:none;
	border: none;
	z-index: 100;
	width: 48px;
    height: 48px;
	
}

.hm-clients-sec .owl-prev {
	 left: -24px;;
}

.hm-clients-sec .owl-next {
	 right: -24px;
}
	
.hm-clients-sec .owl-theme .owl-nav [class*='owl-'] {
    font-size: 14px;
    margin:0 10px 0 0;
    padding:15px 15px;
    background: #dadbdc;
	color: #333;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
	}
	
	.hm-clients-sec .owl-theme .owl-nav [class*='owl-']:last-child {
		margin:0;
	}
	
.hm-clients-sec .owl-theme .owl-nav [class*='owl-']:hover {
	background: #dadbdc;
	color: #333;
	text-decoration: none;
	}
	



/*footer styles*/

.footer-sec{
	position:relative;
	background:#252525;
	border-top:8px solid #005baa;
	color:#cdcdcd;
	}

.footer-top{
	position:relative;
	}

.footer-sec .footer-widgets{
	padding:30px 0 0 0;
	}
	
.footer-sec .footer-logo{
	margin:0 0 30px 0;
	}
	.footer-sec .footer-logo img{
		display:inline-block;

	}
	

.footer-sec .footer-column{
	position:relative;
	margin:0 0 20px 0;
	}
	
.footer-sec .footer-column h5{
	font-size:15px;
	color:#858585;
	margin:0 0 10px 0;
	}
	
	
.footer-sec .footer-column .txt{
	margin:0 0 10px 0;
	}
	

	
.footer-sec .footer-column .txt-contact{
	position:relative;
	margin:0 0 5px 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
	}
	
	.footer-sec .footer-column .txt-contact .left{
	width:30px;
	}
	.footer-sec .footer-column .txt-contact .right{
	}		
	
		
	
.footer-sec .footer-column .links{
	margin:0;
	padding:0;
	}
	.footer-sec .footer-column .links li{
	margin:0;
	padding:5px 0;
	list-style:none;
	}
	
	.footer-sec .footer-column .links li:first-child{
	padding-top:0;
	}
	.footer-sec .footer-column .links li:last-child{
	padding-bottom:0;
	}
	
	.footer-sec .footer-column a{
	color:#cdcdcd;
	}
	.footer-sec .footer-column a:hover{
	color:#fff;
	}


.footer-sec .social-icon{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	}
	
.footer-sec .social-icon .iconstyle{
	font-size:13px;
	color:#aeaeae;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	}
	.footer-sec .social-icon .iconstyle:hover{
	color:#fff;
	}
	
.footer-sec .social-icon a{
    color: #c7c7c7;
    display: block;
    margin-left:10px;
}

.footer-sec .social-icon a:hover{
	color:#f5993e;
	}

.footer-sec .social-icon a:first-child{
    margin-left: 0;
}
	
	


.footer-sec .footer-bottom{
	padding:10px 0;
	position:relative;
	font-size:13px;
	border-top:1px solid #535353;
	}
	
.footer-sec .footer-bottom .copyright{
	position:relative;
	}
	
.footer-sec .footer-bottom .copyright span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	}	
	
.footer-sec .footer-bottom .design{
	font-size:11px;
	color:#636363;
	padding:10px 0 0 0;
	}
	
	.footer-sec .footer-bottom .design a{
		color:#636363;
		}
		
	.footer-sec .footer-bottom .design a:hover{
		color:#c7c7c7;
		}



/*sub-banner styles*/
	
.sub-banner-sec{
	position:relative;
	background:#004c8d;
	color:#ffffff;
	padding:15px 0;
	margin:52px 0 0 0;
	}
	
	
.sub-banner-sec h2{
	font-size:24px;
	text-align:right;
	}


	
	

/*about-sec styles*/

.about-sec{
	position:relative;
	padding:30px 0;
	}
	
.about-sec .desc-one{
	font-size:14px;
	margin:0 0 20px 0;
	}
	
.about-sec .desc{
	}


.about-sec .box{
	position:relative;
	  display: -webkit-box ;
  display: -ms-flexbox ;
  display: flex ;
    -webkit-box-orient: horizontal ;
  -webkit-box-direction: normal ;
  -ms-flex-direction: row ;
  flex-direction: row ;
  margin:0 0 30px 0;
	}

.about-sec .iconbox{
	position:relative;
	width:50%;
	text-align:center;
	margin:0;
	}	
	
.about-sec .iconbox .iconstyle{
	font-size:40px;
	color:#0266b4;
	background:#ffffff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin:auto;
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center ;
	-ms-flex-pack: center ;
	justify-content: center ;
	
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	
-webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
	
	}
	.about-sec .iconbox:hover .iconstyle{
	background:#0266b4;
	color:#ffffff;
	}
	
.about-sec .iconbox .title{
	font-family: 'product_sansbold';
	font-size:15px;
	color:#333333;
	line-height:1.2;
	padding:0 20px;
	margin:15px 0 0 0;
}	



/*catg-sec styles*/	

.catg-sec{
	position:relative;
	padding:30px 0;
	}	

.catg-row{
	position:relative;
	}
	
.catg-row .row {
  margin-right: -12px;
  margin-left: -12px;
  }

.catg-row .row > .col,
.catg-row .row > [class*="col-"] {
  padding-right: 12px;
  padding-left: 12px;
  }
	
	
.catg-row .catg-item{
	position:relative;
	line-height:1.2;
	margin:0 0 25px 0;
	cursor:pointer;
	}
	
.catg-row .catg-item .catg-image{
	position:relative;
	overflow:hidden;
	margin:0 0 15px 0;
	}
	

.catg-row .catg-item .catg-image img{
	position:relative;
	object-fit:cover;
	width: 100%;
	height: 225px;	
	
  -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
	transform: scale(1);
    transition: all 1.8s ease;
    -moz-transition: all 1.8s ease;
    -webkit-transition: all 1.8s ease;
    -ms-transition: all 1.8s ease;
    -o-transition: all 1.8s ease;
	}
	
.catg-row .catg-item:hover .catg-image img{
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
	transform: scale(1.1);
	} 
	
	
	
.catg-row .catg-item .catg-content-box{
	position:relative;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	
	-webkit-box-pack: justify ;
  -ms-flex-pack: justify ;
  justify-content: space-between ;
	}	

	
.catg-row .catg-item .catg-txt{
	position:relative;
	margin:0 10px 0 0;
	}
	
.catg-row .catg-item .catg-name{
	font-family: 'product_sansbold';
	font-size:15px;
	margin:0 0 5px 0;
	}
	
	.catg-row .catg-item:hover .catg-name{
		color:#0266b4;
	}
	
.catg-row .catg-item .catg-price{
	font-size:14px;
	color:#666666;
	}


.catg-row .catg-item .btn-get{
	position:relative;
	font-family: 'product_sansbold';
	font-size:12px;
	color:#fff;
	border:2px solid #0266b4;
	background:#0266b4;
	border-radius:5px;
	padding:5px 10px 4px;
	}
	.catg-row .catg-item:hover .btn-get{
	color:#0266b4;
	background:#fff;	
	border:2px solid #0266b4;
	}
	
	
.catg-menu{
	position:relative;
	padding:0;
	}
	
.catg-menu .catg-menu-item{
	position:relative;
	font-family: 'product_sansbold';
	font-size:14px;
	color:#004c8d;
	background:#e6e6e6;	
	border-radius:5px;
	padding:10px 20px;
	display: inline-block;
	margin:0 5px 20px 0;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	
.catg-menu .catg-menu-item:hover{
	color:#ffffff;
	background:#666666;	
	}

	
.catg-menu .catg-menu-item.active{
      color:#ffffff;
	  background:#666666;	
	  }	
	

/*serv-detail-sec styles*/	

.serv-detail-sec{
	position:relative;
	padding:30px 0;
	}
	
.serv-detail-row{
	position:relative;
	margin:0;
	}
	
.serv-detail-sec .image-box{
	position:relative;
	margin:0 0 15px 0;
	}
	
	.serv-detail-sec .image-box img{
	max-height:563px;
	}
	
.serv-detail-sec h3{
	font-family: 'product_sansbold';
	font-size:24px;
	margin:0 0 10px 0;
	}
	
.serv-detail-sec h5{
	font-family: 'product_sansbold';
	font-size:16px;
	margin:0 0 10px 0;
	}

.serv-detail-sec .desc{
	margin:0 0 20px 0;
	}
	
.serv-detail-sec .features{
	margin:0 0 20px 0;
	}
	
		
.serv-detail-sec .list-item{
	list-style: none;
    padding: 0;
	margin: 0;
}

.serv-detail-sec .list-item li {
    position: relative;
    padding: 5px 0 5px 20px;
}

.serv-detail-sec .list-item li:before {
    content: '';
    width: 8px;
    height: 8px;
	border-radius:50%;
	background:#0067b4;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
	

.serv-detail-sec .price-box	{
	position:relative;
	border-top:1px solid #c2c2c2;
	border-bottom:1px solid #c2c2c2;
	padding:15px 0;
	display: -webkit-box ;
  display: -ms-flexbox ;
  display: flex ;
    -webkit-box-pack: justify ;
  -ms-flex-pack: justify ;
  justify-content: space-between ;
	}


.serv-detail-sec .price-box .price{
	position:relative;
	margin:0 10px 0 0;
	}

.serv-detail-sec .price-box .price .txt-one{
	font-family: 'product_sansbold';
	font-size:16px;
	color:#0266b4;
	}

.serv-detail-sec .price-box .price .txt-two{
	font-size:20px;
	}
	
	
.serv-detail-sec .btn-view-portfolio{
	font-family: 'product_sansbold';
	position:relative;
	background:#0266b4;
	border:2px solid #0266b4;
	color:#ffffff;
	font-size:14px;
	border-radius:5px;
	padding:5px 15px;
	margin:0;
	}
	
.serv-detail-sec .btn-view-portfolio:hover{
	background:#fff;
	border:2px solid #0266b4;
	color:#0266b4;
	}
	

.serv-detail-sec .get-quote{
position: -webkit-sticky;
position: sticky;
top: 120px;
margin:30px 0 0 0;
}
	
	

.serv-detail-sec .get-quote .desc{
	color:#666;
	margin:0 0 10px 0;
	}
	
.serv-detail-sec .contact-form{
	margin:0;
	}
	




/*simlar-items-sec styles*/

.similar-items-sec{
	position:relative;
	padding:40px 0;
	background:#f1f3f6;
	}
	
.similar-items-sec h3{
	font-family: 'product_sansbold';
	font-size:18px;
	text-align:center;
	margin:0 0 30px 0;
	} 
		
.similar-items-sec .pro-item{
	position:relative;
	text-align:center;
	}	
	
.similar-items-sec .pro-item .image{
	position:relative;
	overflow:hidden;
	margin:0 0 15px 0;
	}
	

.similar-items-sec .pro-item .image img{
	position:relative;
	object-fit:cover;
	max-width:300px;
	max-height:225px;

	
  -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
	transform: scale(1);
    transition: all 1.8s ease;
    -moz-transition: all 1.8s ease;
    -webkit-transition: all 1.8s ease;
    -ms-transition: all 1.8s ease;
    -o-transition: all 1.8s ease;
	}
	
.similar-items-sec .pro-item:hover .image img{
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
	transform: scale(1.1);
	}
	 	
.similar-items-sec .pro-item h4{	
  font-family: 'product_sansbold';
  font-size: 14px;
  position: relative;	
}


.similar-items-sec .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:20px;
	}

.similar-items-sec .owl-theme .owl-dots .owl-dot span{
	margin:5px;
	background:#b4b4b4;
	width:10px;
	height:10px;
	}
	
.similar-items-sec .owl-theme .owl-dots .owl-dot.active span,
.similar-items-sec .owl-theme .owl-dots .owl-dot:hover span {
    background: none repeat scroll 0 0 #888888;
	}
	
	
/*portfolio-sec styles*/	

.portfolio-sec{
	position:relative;
	padding:30px 0;
	}
	
	
.portfolio-sec .pro-filter{
	position:relative;
	width:100%;
	margin:0 0 20px 0;
	}
	
	.portfolio-sec .pro-filter .title{
	background:none;
	color:#666;
	padding:0;
	margin:0 0 5px 0;
	}
	
	.portfolio-sec .pro-filter .title h6{
	font-size:12px;
	color:#888;
	}

.portfolio-sec .btn-txt{
	font-size:12px;
    color: #666;
	background:none;
	padding:0;
	line-height:1.2;
	vertical-align:top;
	margin:0;
	}




.portfolio-sec .card{
	background:none;
	border:0;
	border-radius:0;
	margin:0;
	}
	
.portfolio-sec .card-header{
	position: relative;
    font-family: 'product_sansbold';
    font-size: 20px;
    color: #004c8d;
    background: #e6e6e6;
    border-radius: 5px;
	border-bottom:0;
    padding: 10px 20px;
    display: block;
    margin: 0 0 10px 0;	
	}
	
	.portfolio-sec .card-header h5{	
	font-size:14px;
	color:#004c8d;
	}
	.portfolio-sec .card-header a{	
	color:#004c8d;
	}

.portfolio-sec .card-body{
	padding:0 10px 0;
	background:#ffffff;
	}


.portfolio-sec .custom-control-label{
	margin:0 0 10px 0;
	padding-left:5px;
	padding-top:3px;
	font-size:14px;
	color: #000000;
	}

.portfolio-sec  .custom-control-label::before {
  background-color: #ffffff;
  border:1px solid #BDBDBD;
  border-radius:0;
  }


.portfolio-sec  .custom-checkbox .custom-control-label::before {

  }
  


.portfolio-sec .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
  }
	
.portfolio-sec .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0266b4;
   border:1px solid #0266b4;
  }
			
.portfolio-sec .card-header .fa-angle-down {
    float: right;
}

.portfolio-sec .card-header .collapsed .fa {
  transform: rotate(180deg);
}


.filter-menu .navbar{
	padding:0;
	}
	
.btn-filter{
	position:relative;
	font-family: 'product_sansbold';
	font-size:14px;
	color:#fff !important;
	background:#3e88c7;	
	border-radius:5px;
	padding:10px 20px;
	display: block;
	width:100%;
	text-align:center;
	margin:0 0 10px 0;
	cursor:pointer;
	}

@media (min-width: 768px){

.btn-filter{
	display:none;
}

}

	
/* portfolio */

.portfolio-row{
	position:relative;
	}
	
.portfolio-row .row {
  margin-right: -12px;
  margin-left: -12px;
  }

.portfolio-row .row > .col,
.portfolio-row .row > [class*="col-"] {
  padding-right: 12px;
  padding-left: 12px;
  }

.portfolio-box {
	position:relative;
	text-align:center;
	margin:0 0 25px 0;
	}

	
.portfolio-image {
  position: relative;
  cursor:pointer;
  overflow:hidden;
  margin:0 0 10px 0;
  -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

}

.portfolio-image img {
object-fit:cover;
width: 100%;
height: 225px;    
  
  -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
	transform: scale(1);
    transition: all 1.8s ease;
    -moz-transition: all 1.8s ease;
    -webkit-transition: all 1.8s ease;
    -ms-transition: all 1.8s ease;
    -o-transition: all 1.8s ease;
}

.portfolio-image:hover img{	
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
	transform: scale(1.1);
	}
	
.portfolio-image .icon{
	content:"";
	position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%,-50%);
    width: 30px;
	height: 21px;
	background: url(../images/play-icon.png) no-repeat center center;
	background-size:contain;
	}


.portfolio-heading {
	position:relative;
	line-height:1.1;
}

.portfolio-heading h4 {
  font-family: 'product_sansbold';
  font-size: 14px;
  margin-bottom: 5px;
  position: relative;
}

.portfolio-heading h5 {
  font-size: 12px;
  color:#666666;
}




/*contact-sec styles*/

.contact-sec{
	position:relative;
	padding:30px 0 40px;
	}

.contact-sec .box{
	position: relative;
	padding:0 0 0 60px;
	margin:0 0 20px 0;
	}
	
.contact-sec .box a{
	color:#000000;
	}
	
.contact-sec .box .icon{
	position:absolute;
	top:0;
	left:0;
	}

.contact-sec .box .txt{
	font-size:16px;
	}
	.contact-sec .box .txt.mt{
		padding:5px 0 0 0;
	}
	

.contact-sec .box .iconstyle{
	font-size:18px;
	color:#0266b4;
	background:#ffffff;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin:auto;
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center ;
	-ms-flex-pack: center ;
	justify-content: center ;
	
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	
-webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
	
	}
	.contact-sec .box:hover .iconstyle{
	background:#0266b4;
	color:#ffffff;
	}




/*contact-form styles*/	
	
.contact-form{
	position:relative;
	margin:30px 0 0 0;
	}

.contact-form h5{
	font-size:18px;
	margin:0 0 5px 0;
	}
	
.contact-form .desc{
	color:#888888;
	margin:0 0 10px 0;
	}



.contact-form .form-group{
	margin-bottom:10px;
	}
	
.contact-form .form-control{
	padding:6px 10px;
	border:2px solid #dddddd;
	border-radius:5px;
	background:#ffffff;
	color:#000000;
	font-size:14px;
	min-width:150px;
	height:auto;
	margin:0;
	}

.contact-form .form-control:focus {
    box-shadow:none;
	background:#ffffff;
	border:2px solid #bebebe;
    }

.contact-form ::-webkit-input-placeholder { /* Chrome */
  color: #333;
}

.contact-form :-ms-input-placeholder { /* IE 10+ */
  color: #333;
}

.contact-form form ::-moz-placeholder { /* Firefox 19+ */
  color: #333;
  opacity: 1;
}

.contact-form form :-moz-placeholder { /* Firefox 4 - 18 */
  color: #333;
  opacity: 1;
}


.contact-form .btn-submit{
	font-family: 'product_sansbold';
	position:relative;
	background:#0266b4;
	border:2px solid #0266b4;
	color:#ffffff;
	font-size:14px;
	border-radius:5px;
	padding:8px 15px 7px;
	}
	
	.contact-form .btn-submit:hover{
	background:#fff;
	border:2px solid #0266b4;
	color:#0266b4;
	}


.contact-form .form-row{
margin-right: -10px;
margin-left: -10px;
}
	
.contact-form .form-row > .col, 
.contact-form .form-row > [class*="col-"]{
padding-right: 10px;
padding-left: 10px;
}



/*location-form styles*/
	
.location-sec{
	position:relative;
	}
	
.location-sec .location{
	position:relative;
	background:#efeeec;
	}	
	
.location-sec .location iframe{
	height:300px;
	}
		




/*general-sec styles*/

.general-sec{
	position:relative;
	padding:30px 0;	
	}
	
.general-sec p{
	margin:0 0 30px 0
	}
	
.general-sec h5{
font-family: 'product_sansbold';
font-size:14px;
margin:0 0 5px 0;
}



/*history-sec styles*/



.history-sec{
	position:relative;
	background:#e5e5e5;
	padding:40px 0;
	text-align:center;
	}
	
.history-sec h2{
	font-size:24px;
	margin:0 0 20px 0;
	}
	
	
.history-sec .timeline-image{
	position:relative;
	padding:0 0 20px 0;
	margin-top:30px !important;
	}
	
.history-sec .timeline-image img{
	display:inline-block;
	border:5px solid #fff;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	}
		
	
/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom:10px;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
 
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;

}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #888888;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:none;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
	font-family: 'product_sansbold';
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  color: #000;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -6px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #888888;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #0266b4;
  border-color: #0266b4;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #0266b4;
}
@media only screen and (min-width: 1100px) {
	
.cd-horizontal-timeline .events a {
  font-size: 18px;
}
  .cd-horizontal-timeline {
    margin: 0 auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #888;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 0 0 30px 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.cd-horizontal-timeline .events-content ol {
	margin:0;
	padding:0;
	}
	
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 14px;
  text-align:center;

}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 992px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 18px;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}









/* scroll to top style */

.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #e86256;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #e86256;
}


.cd-top {
  display: inline-block;
  height: 25px;
  width: 25px;
  z-index:100;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(136, 136, 136, .8) url(../images/top-arrow.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.cd-top:hover {
  background-color: #000;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 10px;
    bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 30px;
    width: 30px;
    right: 20px;
    bottom: 20px;
  }
}


