/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Nov, 2018, 1:46:24 PM
    Author     : sms
*/

.sa_error{
    color: #e73d4a !important;
}

.sa_admin_logo_text{
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 7px;
}
.sa_admin_logo_text:hover{
    color: #32c5d2 !important;
    text-decoration: none !important;
}


.pagination{ float:right; margin-right:5px;}
.pagination a{width:auto; height:28px; background:url(../images/pagination_bg.jpg); border:#32c3d0 solid 1px; padding-left:12px; padding-right:12px; text-decoration:none; line-height:28px; color:#666666;  margin-right:4px; font-weight:normal; padding-top:6px; padding-bottom:6px; text-align:right; }
.pagination_wrapper{ width:970px; height:auto; float:right; margin-top:10px; margin-right:10px;}
.pagination strong {
    padding-left:4px;
    padding-right:8px;

}
.pagination_wrapper-cover{ width:auto; height:auto; float:right;}

.flash_message {
    float: left !important;
    font-family: montserrat !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 15px !important;
    position: fixed !important;
    top: 250px !important;
    left: 30% !important;
    padding: 12px 30px !important;
    color: #fff !important;
    background-color: rgba(0,0,255,0.6) !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23) !important;   
    z-index: 999 !important;
}