
.flash_message {
    float: left !important;
    font-family: montserrat !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 15px !important;
    position: fixed !important;
    top: 250px !important;
    left: 30% !important;
    padding: 12px 30px !important;
    color: #fff !important;
    background-color: rgba(0,0,255,0.6) !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23) !important;   
    z-index: 999 !important;
}
label.error{
    color: red !important;
}
.hide{
    display: none;
}