@charset "utf-8";
/* CSS Document */


/*media  styles*/


@media (min-width: 576px){

.container {
    max-width:1300px;
}



	
.testimonial-box .testimonial-by{
	position: relative;
	  display: -webkit-box ;
  display: -ms-flexbox ;
  display: flex ;
    -webkit-box-pack: justify ;
  -ms-flex-pack: justify ;
  justify-content: space-between ;
	}
	
.testimonial-box .testimonial .desc{
	max-width:550px;
	}
	

.about-sec .box{
	position:relative;
	  display: -webkit-box ;
  display: -ms-flexbox ;
  display: flex ;
  -webkit-box-orient: vertical ;
  -webkit-box-direction: normal ;
  -ms-flex-direction: column ;
  flex-direction: column ;
	}

.about-sec .iconbox{
	position:relative;
	width:100%;
	text-align:center;
	margin:0 0 60px 0;
	}
	
	

}


@media (min-width: 768px){

	
.form-control{
	font-size:14px;
	}
		

	
.hm-services-sec .service-box .txt{
	padding:0;
	}	



.hm-process-sec .video{
	padding:0 60px;
	}
	
		
.hm-process-sec .process-box .arrow{
	display:block;
}
	
.hm-process-sec .process-box .arrow_1{
	display:block;
    left: 120px;
    top: 3px;
}
	
	.hm-process-sec .process-box .arrow_1 img{
		width: 60px;
		height: 12px;
	}
	

.testimonial-box{
	max-width:75%;
	}
	
.testimonial-box .owl-theme .owl-nav{
	right:-50px;
	left: -50px;
	}
	
		

.catg-menu .catg-menu-item{
	font-size:16px;
	padding:15px 30px;
	display: block;
	margin:0 0 15px 0;
	}

	
	
.portfolio-sec .card-header{
	padding:15px 30px;
	margin: 0 0 15px 0;	
	}
	
	.portfolio-sec .card-header h5{	
	font-size:16px;
	}



	
}




@media (min-width: 992px){



body{
font-size:16px;
}	
	
.top-line{
	font-size:14px;
	display: block;
	}


.breadcrumb{
	font-size:14px;
	}
	
	
.btn-more{
	font-size:18px;
	padding:8px 30px 7px;
	margin: 10px 0 0 0;
	}
	
	

.sub-banner-sec{
	margin:90px 0 0 0;
	padding:22px 0 21px;
	}
	
	
.sub-banner-sec h2{
	font-size:48px;
	text-align:right;
	}
		


.hm-services-sec{
	padding:50px 0 110px;
	margin:90px 0 0 0;
	}

.hm-services-sec h1{
	font-size:60px;
	margin:0 0 40px 0;
	}


.hm-services-sec .service-box{
	margin:0;
	}
	
.hm-services-sec .service-box .icon{
	margin:0 0 20px 0;
	}
		
	
.hm-services-sec .service-box h2{
	font-size:44px;
	margin:0 0 20px 0;
	}
	
.hm-services-sec .service-box .txt{
	font-size:18px;
	margin:0 0 20px 0;
	padding:0;
	}


.hm-services-sec .service-box .icon svg {
  width: 230px;
  height: 230px;
}





.hm-services-sec .hi-icon {
	width: 230px;
	height: 230px;
}

.hm-services-sec .hi-icon:before {
	font-size: 120px;
}


	



.hm-prof-serv-sec{
	padding:0 0 100px 0;	
	}
	
.hm-prof-serv-sec h4{
	text-align:left;
	font-size:26px;
	margin:0 0 25px 0;	
	}
		
	.hm-prof-serv-sec .image-box h5{
	padding:0 20px 15px 20px;
	font-size:22px;
	}
	
		
	




.hm-process-sec{
	padding:120px 0 100px;
	}
	
.hm-process-sec h2{
	font-size:50px;
	margin:0 0 40px 0;
	}
	
.hm-process-sec .process-box .number{
	width:40px;
	height:40px;
	font-size:24px;
	margin-bottom:10px;
	}

.hm-process-sec .process-box .title{
	font-size:16px;	
	margin:0 0 10px 0;
	}		
	
	
.hm-process-sec .process-box .arrow{
	left: 165px;
    width: 175px;
    height: 17px;
    top: 7px;
}
	

.hm-process-sec .process-box .arrow_1{
    left: 160px;
    top: 8px;
}
	
	.hm-process-sec .process-box .arrow_1 img{
		width: 85px;
		height: 17px;
	}
	
	


.hm-sectorlist-sec{
	padding:100px 0;
	}

.hm-sectorlist-sec h3{
	font-size:40px;
	margin:0 0 65px 0;
	}
	.hm-sectorlist-sec h3 span{
	font-size:50px;
	}
	
.hm-sectorlist-sec .sector-item{
	margin:0 0 45px 0;
}

.hm-sectorlist-sec .sector-item h4{
	font-size:26px;
	margin:0 0 15px 0;
}


.btn-gallery:before,
.btn-gallery:after {
    margin: 0 60px 0 0;
    flex: 1 0 60px;
}

.btn-gallery:after {
    margin: 0 0 0 60px;
}

	
.btn-gallery a{
	padding:8px 30px 7px;
	font-size:18px;
	}	




.hm-testimonials-sec{
	padding:100px 0;
	}
		
.hm-testimonials-sec h3 {
    font-size: 40px;
    margin: 0 0 40px 0;
}


.testimonial-box{
	max-width:800px;
	}
	
.testimonial-box .testimonial .desc-box{
	padding:0 125px;	
	}
	
.testimonial-box .testimonial .desc{
	font-size:24px;
	padding:60px 0 15px 0;
	max-width:425px;
	}


.testimonial-box .testimonial .icon-quote-one img,
.testimonial-box .testimonial .icon-quote-two{
	max-width:100%;
}


.testimonial-box .testimonial .name{
	 font-size: 24px;
	 margin:15px 0 0 0;
	}
	
.testimonial-box .testimonial .sub-title{
	font-size:20px;
	}

	

		
.testimonial-box .owl-prev,
.testimonial-box .owl-next {
	width: 48px;
    height: 48px;
	
}

.testimonial-box .owl-prev {
	 left: -24px;;
}

.testimonial-box .owl-next {
	 right: -24px;
}

.testimonial-box .owl-theme .owl-nav [class*='owl-'] {
    padding:15px 15px;
	}




.hm-clients-sec{
	position:relative;
	padding:70px 0 40px;
	text-align:center;
	}
	
.hm-clients-sec .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:40px;
	}





.footer-sec .footer-widgets{
	padding:75px 0 0 0;
	}
	
	.footer-sec .footer-logo img{
		width: 240px;
	}

.footer-sec .footer-column{
	margin:0 0 40px 0;
	}
		
.footer-sec .footer-column h5{
	font-size:18px;
	margin:0 0 15px 0;
	}
		
.footer-sec .footer-column .txt{
	margin:0 0 10px 0;
	}
	
	
.footer-sec .social-icon .iconstyle{
	font-size:15px;
	}
	
.footer-sec .social-icon .icon-youtube{
	font-size:22px;
}

		
.footer-sec .footer-bottom{
	font-size:14px;
	padding:20px 0;
	text-align:left;
	}
	
.footer-sec .footer-bottom .copyright{
	padding:0;
	}
		
.footer-sec .footer-bottom .design{
	font-size:12px;
	text-align:right;
	padding:0;
	}




.about-sec{
	padding:50px 0 40px;
	}
	
.about-sec .desc-one{
	font-size:20px;
	margin:0 0 30px 0;
	max-width:92%;
	}

.about-sec .iconbox .iconstyle{
	font-size:60px;
	width: 100px;
	height: 100px;
}

.about-sec .iconbox .title{
	font-size:20px;
}



.history-sec{
	padding:100px 0 70px 0;
	}
	
.history-sec h2{
	font-size:50px;
	margin:0 0 20px 0;
	}

.history-sec .sub-title{
	font-size: 20px;
	margin: 0 0 20px 0;
	}


.catg-sec{
	min-height:600px;
	padding:50px 0 100px;
	}
	
.catg-menu{
	padding:0 30px 0 0;
	}
.catg-menu .catg-menu-item{
	font-size:20px;
	padding:22px 40px 20px;
	}
	
	
.catg-row .catg-item{
	margin:0 0 35px 0;
	}
	
.catg-row .catg-item .catg-image{
	margin:0 0 20px 0;
	}

	
.catg-row .catg-item .catg-name{
	font-size:18px;
	margin:0 0 5px 0;
	}
	
.catg-row .catg-item .catg-price{
	font-size:16px;
	}

.catg-row .catg-item .btn-get{
	font-size:14px;
	padding:5px 10px 4px;
	}



.serv-detail-sec{
	padding:50px 0 100px;
	}
	
.serv-detail-sec .image-box{
	margin:0 0 25px 0;
	}
	
.serv-detail-sec h3{
	font-size:36px;
	margin:0 0 15px 0;
	}
	
.serv-detail-sec h5{
	font-size:18px;
	margin:0 0 10px 0;
	}

.serv-detail-sec .desc{
	margin:0 0 30px 0;
	}
	
.serv-detail-sec .features{
	margin:0 0 30px 0;
	}
	
.serv-detail-sec .price-box	{
	padding:30px 0 20px;
	}


.serv-detail-sec .price-box .price .txt-one{
	font-size:18px;
	}

.serv-detail-sec .price-box .price .txt-two{
	font-size:22px;
	}
	
	
.serv-detail-sec .btn-view-portfolio{
	font-size:18px;
	padding:8px 30px 7px;
	}
		
	
.serv-detail-sec .get-quote{
	padding-left:30px;
	margin:0;
	}
	
	

.serv-detail-sec .get-quote .desc{
	margin:0 0 20px 0;
	}
	
	

	
.similar-items-sec{
	padding:90px 0 80px;
	}
	
.similar-items-sec h3{
	font-size:30px;
	margin:0 0 60px 0;
	} 
	
.similar-items-sec .pro-item h4{	
  font-size: 16px;
}

	
.similar-items-sec .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:40px;
	}	
	
	



	

.portfolio-sec{
	padding:50px 0 80px;
	}
	
		
.portfolio-sec .pro-filter .title h6{
	font-size:16px;
	}

.portfolio-sec .btn-txt{
	font-size:14px;
	}
	
.portfolio-sec .card-header{
	padding:22px 40px 20px;
	margin: 0 0 15px 0;	
	}
	
	.portfolio-sec .card-header h5{	
	font-size:20px;
	}


.portfolio-sec .card-body{
	padding:0 15px;
	}


.portfolio-sec .custom-control-label{
	font-size:16px;
	padding-top:1px;
	}
	
	
.portfolio-heading h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.portfolio-heading h5 {
  font-size: 14px;
}

	



.contact-sec{
	position:relative;
	padding:50px 0 100px;
	}
	
.contact-sec .box{
	padding:0 0 0 75px;
	margin:0 0 20px 0;
	}

.contact-sec .box .txt{
	font-size:18px;
	}
	.contact-sec .box .txt.mt{
		padding:10px 0 0 0;
	}
	

.contact-sec .box .iconstyle{
	font-size:22px;
	width: 44px;
	height: 44px;	
	}



.contact-form{
	margin:0;
	}
	
.contact-form h5{
	font-size:24px;
	margin:0 0 5px 0;
	}
	
.contact-form .form-group{
	margin-bottom:20px;
	}

.contact-form .form-control{
	padding:11px 20px;
	font-size:16px;
	}
	
.contact-form .btn-submit{
	font-size:18px;
	padding:15px 30px 14px;
	}
	
select.form-control:not([size]):not([multiple]){
	height: 50px;		
	
}


.location-sec .location iframe{
	height:600px;
	}
	
	
	
.careers-sec{
	padding: 50px 0 80px;
	}

.careers-sec h3{
	font-size: 36px;
    margin: 0 0 10px 0;
	}

.careers-sec h5{
	font-size: 24px;
    margin: 0 0 25px 0;
	}



.careers-sec-two{
	position: relative;
    background: #e5e5e5;
    padding: 80px 0;	
}
	
.box-accordion .card-header {
    padding: 20px 30px;
}

	.box-accordion .card-header h3{	
	font-size:24px;
	}
	
.box-accordion .card-body{
	padding:30px;
	}
	
	
.box-accordion h4{
	font-size:20px;
	margin: 0 0 10px 0;
}
	
.careers-form-sec{
	padding: 80px 0;
}

.careers-form-sec h3{
	font-size: 36px;
    margin: 0 0 25px 0;
	}
	
	


.general-sec{
	padding:50px 0 80px;	
	}
	
.general-sec .txt{
	margin: 0 0 30px 0;
	}

.general-sec h4{
	font-size:22px;
	margin:15px 0 20px 0;
	}
	
.general-sec h5{
	font-size:18px;
	margin:0 0 10px 0;
	}
	
	
.general-sec .box{
	padding: 30px;
	margin: 0 0 30px 0;
}
	
.general-sec .box h4{
	font-size: 20px;
}

.general-sec .box h3{
	font-size: 26px;
}

.general-sec .box .txt-b{
	font-size: 16px;
}	
	
.general-sec .box .txt-one{
	font-size: 18px;
	margin: 0 0 20px 0;
}

.general-sec .box .txt-two{
	font-size: 18px;
	margin: 0 0 5px 0;
}

.general-sec .box .txt-three{
	font-size: 24px;
	font-style: italic;
}

.general-sec .box .qr-image{
	margin: 0 0 20px 0;
}

	
			
}



@media (min-width: 1200px){	

.container {
padding-right: 25px;
padding-left: 25px;
}


.hm-services-sec .row {
  margin-right: -25px;
  margin-left: -25px;
  }

.hm-services-sec .row > .col,
.hm-services-sec .row > [class*="col-"] {
  padding-right: 25px;
  padding-left: 25px;
  }



	
.hm-prof-serv-sec .owl-prev,
.hm-prof-serv-sec .owl-next {
	width: 48px;
    height: 48px;	
}

.hm-prof-serv-sec .owl-prev {
	 left: -24px;;
}

.hm-prof-serv-sec .owl-next {
	 right: -24px;
}
	
.hm-prof-serv-sec .owl-theme .owl-nav [class*='owl-'] {
    padding:15px 15px;
	}



.hm-process-sec .process-row{
	margin:0;
	}
	
.hm-process-sec .video{
	padding:0;
	}
	
.hm-process-sec .process-box .arrow{
    width: 130px;
    height: 10px;
    left: 100px;
}


.hm-process-sec .process-box .arrow_1{
    left: 100px;
    top: 8px;
}
	
	.hm-process-sec .process-box .arrow_1 img{
		width: 85px;
		height: 17px;
	}
	


}



@media (min-width: 1360px){

.container {
padding-right: 15px;
padding-left: 15px;
}

}


@media only screen and (min-width: 1680px){

.hm-services-sec .row {
  margin-right: -40px;
  margin-left: -40px;
  }

.hm-services-sec .row > .col,
.hm-services-sec .row > [class*="col-"] {
  padding-right: 40px;
  padding-left: 40px;
  }
  

.hm-process-sec .process-box .arrow{
    width: 175px;
    height: 17px;
    left: 100px;

}

	
}




